/* Write your CSS here */
.to-do-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.title {
  font-family: 'Roboto';
  font-size: 18px;
  color: #000000;
  padding-right: 20px;
}
.delete-btn {
  background-color: #ffffff;
  color: #ff0b37;
  font-family: 'Roboto';
  font-size: 12px;
  border-radius: 8px;
  border: 1px solid #ff0b37;
  padding-top: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 4px;
  outline: none;
  cursor: pointer;
}
